<tr><td><div class="thumb">
     <%= image_tag news_feed.pet.avatar.url  %>
     
 </div></td>
  <td><h4><%= news_feed.pet.name %></h4><%= news_feed.created_at %> <%= news_feed.name %><br>
  <%= news_feed.note%>
  </td></tr>