<% if user_signed_in? %>
  <div class="six columns">

    <% unless @client_list.empty? %> 
  <h3>Manage your clients</h3>
  <table>
   
      <%= render :partial => 'shared/pet_listing', :collection => @client_list %>
  
  
      
  </table>
    <% end %>
    
    <% unless @pet_list.empty? %>
      
    <h3>Manage your pets</h3>
    <table>
        <%= render :partial => 'shared/pet_listing', :collection => @pet_list %>
      <tr><td><%= link_to 'New Pet', new_pet_path %></td></tr>


    </table>
    <% end %>

    </div>
  <div class="ten columns">
    <h3>Feed</h3>
    <table id="news_feed">
     <% unless @news_feed.nil? || @news_feed.empty? %>
        <%= render :partial => 'shared/news_feed', :collection => @news_feed %>
      <% end %>
      </table>
  </div>
<% else %>
  <%= link_to('Login', new_user_session_path)  %>  

  <%= link_to('Sign up', new_user_registration_path)  %>
 
<% end %>
